{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block jshead %}
  <script type="text/javascript" src="{% static 'js/sorttable.js' %}"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/sorttable.css' %}">
{% endblock %}

{% block content %}
  <h1>List of Tournaments</h1>
  <form id="search_form" method="get" action="{% url 'tournaments:list' %}">
    <div class="row">
      <div class="col">
        <label>Name</label>
        <input type="text" name="name" {% if name %}value="{{ name }}"{% endif %}>
      </div>
      <div class="col">
        <label>Start date</label>
        <input type="date" name="start_date" {% if start_date %}value="{{ start_date }}"{% endif %}>
      </div>
      <div class="col">
        <label>End date</label>
        <input type="date" name="end_date" {% if end_date %}value="{{ end_date }}"{% endif %}>
      </div>
      <div class="col">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
      <div class="col">
        <a class="btn btn-outline-primary" href="{% url 'tournaments:list' %}">Reset</a>
      </div>
    </div>
  </form>
  <br>
  <table class="sortable table table-bordered table-hover table-striped">
    <thead>
    <tr>
      <th class="header" scope="col">#</th>
      <th class="header" scope="col">Name</th>
      <th class="header" scope="col" width="150">Start Date</th>
      <th class="header" scope="col" width="150">End Date</th>
    </tr>
    </thead>
    <tbody>
    {% for tournament in tournaments %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{% url 'tournaments:match_list' tournament.pk %}">{{ tournament.name }}</a></td>
        <td>{{ tournament.start_date|date:'Y-m-d' }}</td>
        <td>{{ tournament.end_date|date:'Y-m-d' }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% include 'includes/pagination.html' %}
{% endblock %}
