{% extends "base.html" %}

{% load i18n crispy_forms_tags utility_filters %}

{% block title %}{% trans "Delete a bet" %}{% endblock %}

{% block content %}
  <h1>Update a bet</h1>

  <h2>{{ tournament }}</h2>
  <table class="sortable table table-bordered table-hover table-striped">
    <thead>
    <tr>
      <th scope="col">Tournament</th>
      <th scope="col">Start time</th>
      <th scope="col">Home</th>
      <th scope="col"></th>
      <th scope="col">Odds</th>
      <th scope="col"></th>
      <th scope="col">Guest</th>
      <th scope="col">Bet at</th>
      <th scope="col">Bet on</th>
      <th scope="col">Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ tournament }}</td>
      <td>{{ match.start_time|date:'Y-m-d H:i' }}</td>
      <td>{{ match.home }}</td>
      <td>
        {% if match.home.symbol %}
          <img src="{{ match.home.symbol.url }}" class="rounded" width="40" height="30">
        {% endif %}
      </td>
      <td>{{ match.odds|display_odds|safe }}</td>
      <td>
        {% if match.guest.symbol %}
          <img src="{{ match.guest.symbol.url }}" class="rounded" width="40" height="30">
        {% endif %}
      </td>
      <td>{{ match.guest }}</td>
      <td>{{ bet.modified_at }}</td>
      <td>{{ bet.choice }}</td>
      <td>{{ bet.amount }}</td>
    </tr>
    </tbody>
  </table>
  <form method="post" action="{% url 'bets:delete' bet.pk %}">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure to delete this bet?');">Delete this bet</button>
    <a class="btn btn-outline-primary" href="{% url 'bets:my_bets' %}">Cancel</a>
  </form>
{% endblock %}
